<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Busca de Contatos</title>
</head>
<script>
    function voltar() {
      window.history.back();
    }
</script>
<body>
    <h1>Busca de Contatos</h1>
    <fieldset>
        <legend>Resultados da busca</legend>
    <ul>
        <li th:each="contatos : ${buscar}"><p th:text="${'Nome: ' + contatos.nome }"><br/><p th:text="${'Telefone:' + contatos.telefone}"><br/><p th:text="${'E-mail:' + contatos.email}"></li>
    </ul>
    <p>
        <button onclick="voltar()">Voltar</button>
    </fieldset>
    
</body>
</html>