<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Busca de Cadastros</title>
</head>
<script>
    function voltar() {
      window.history.back();
    }
</script>
<body>
    <h1>Busca de Cadastros</h1>
    <fieldset>
        <legend>Resultados da busca</legend>
    <ul>
        <li th:each="cadastro : ${busca}"><p th:text="${'Nome: ' + cadastro.nome }"><br/><p th:text="${'CPF:' + cadastro.cpf}"><br/><p th:text="${'Endereço:' + cadastro.endereco}">
            <br/><p th:text="${'Complemento:' + cadastro.complemento}"><br/><p th:text="${'Aniversario:' + cadastro.datanasc}"><br/><p th:text="${'Email:' + cadastro.email}">
        </li>
    </ul>
    <p>
        <button onclick="voltar()">Voltar</button>
    </fieldset>
    
</body>
</html>