<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Drink Store</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="bg-dark text-white">
    <div class="container">
        <h1>Drink Store - Loja de Bebidas</h1>

        <div th:if="${lista.size() > 0}">
            <div class="row m-1" th:each="bebida : ${lista}">
                <div class="col-6">
                    <a th:href="@{/mostrar/{id}(id=${bebida.id})}" th:text="${bebida.nome}"></a>
                </div>
                <div class="col-3">
                    <a class="btn btn-success btn-sm" th:href="@{/editar/{id}(id=${bebida.id})}">Editar</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-danger btn-sm" th:href="@{/deletar/{id}(id=${bebida.id})}">Deletar</a>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" href="/cadastrar">Cadastre uma nova bebida</a>
    </div>



    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>