<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Sistema XYZ</title>
</head>

<body class="bg-dark text-white">
    <div class="container">
        <h1>Busca de Ordem de Servico</h1>
        <form action="/buscaros" method="POST">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="nome">Numero OS</label>
                <div class="col-sm-5">
                    <input id="numeroOs" name="numeroOs" type="text" placeholder="Ex: 1" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            
        </form>





        <div th:if="${lista.size() > 0}">
            <h2>Lista de Ordens de Serviço Cadastradas</h2>
            <div class="row m-1" th:each="ordemservico : ${lista}">
                <div class="col-6">
                    <a th:href="@{/buscaros/{id}(id=${ordemservico.id})}" th:text="${'Id: ' + ordemservico.id + ' Nome do cliente: ' + ordemservico.nome}"></a>

                </div>
                <div class="col-2">
                    <a class="btn btn-success btn-sm" th:href="@{/mostraros/{id}(id=${ordemservico.id})}">Detalhes</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-warning btn-sm" th:href="@{/editaros/{id}(id=${ordemservico.id})}">Editar</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-danger btn-sm" th:href="@{/deletaros/{id}(id=${ordemservico.id})}">Deletar</a>
                </div>
            </div>
        </div>

        <a class="btn btn-primary" href="/cadastrarclientes">Cadastrar Clientes</a>
        <a class="btn btn-primary" href="/cadastrarordemdeservico">Cadastrar OS</a>
    </div>






    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>