<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/css/signin.css" rel="stylesheet">
    <title>Sistema XYZ</title>
</head>

<body class="bg-dark text-white text-center">
    <div class="container">
        <h1>Sistema XYZ Cadastro de Ordem de Serviço</h1>
        <form action="/cadastraros" method="POST">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="nome">Nome</label>
                <div class="col-sm-5">
                    <input id="nome" name="nome" type="text" th:value="${ordemservico.nome}"
                        placeholder="Ex: João da Silva" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email">E-mail</label>
                <div class="col-sm-5">
                    <input id="email" name="email" type="text" th:value="${ordemservico.email}"
                        placeholder="joao@exemplo.com" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="telefone">Telefone</label>
                <div class="col-sm-5">
                    <input id="telefone" name="telefone" type="text" th:value="${ordemservico.telefone}"
                        placeholder="Ex: (48)11111-2222" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="descservico">Descriçao do Serviço</label>
                <div class="col-md-9">
                    <textarea class="form-control" id="descservico" name="descservico"
                        th:value="${ordemservico.descservico}" placeholder="Escreva aqui os serviços realizados"
                        rows="5"></textarea>
                </div>
            </div>
            <input type="hidden" name="id" th:value="${ordemservico.id}" />
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>


    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>