<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Sistema XYZ</title>
</head>

<body class="bg-dark text-white text-center">
    <h1>Sistema XYZ Cadastro de Clientes</h1>
    <div class="container">
        <form action="/cadastrarclientes" method="POST">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="nome">Nome</label>
                <div class="col-sm-5">
                    <input id="nome" name="nome" type="text" th:value="${cliente.nome}" placeholder="Ex: João da Silva" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="datanasc">Data de Nascimento</label>
                <div class="col-sm-5">
                    <input id="datanasc" name="datanasc" type="text" th:value="${cliente.datanasc}" placeholder="Ex: 01/01/2020" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email">E-mail</label>
                <div class="col-sm-5">
                    <input id="email" name="email" type="text" th:value="${cliente.email}" placeholder="joao@exemplo.com" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="telefone">Telefone</label>
                <div class="col-sm-5">
                    <input id="telefone" name="telefone" type="text" th:value="${cliente.telefone}" placeholder="Ex: (48)11111-2222"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="endereco">Endereço</label>
                <div class="col-sm-5">
                    <input id="endereco" name="endereco" type="text" th:value="${cliente.endereco}" placeholder="Ex: Rua da sexta-feira,123"
                        class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="bairro">Bairro</label>
                <div class="col-sm-5">
                    <input id="bairro" name="bairro" type="text" th:value="${cliente.bairro}" placeholder="Ex: Coqueiros" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="cidade">Cidade</label>
                <div class="col-sm-5">
                    <input id="cidade" name="cidade" type="text" th:value="${cliente.cidade}" placeholder="Ex: Florianópolis" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="estado">Estado</label>
                <div class="col-sm-1">
                    <select class="form-control" id="estado" name="estado" th:field="*{cliente.estado}">
                        <option th:each="estado : ${T(br.edu.usj.sistemaxyz.Estado).values()}"
                                th:value="${estado}" th:text="${estado}"></option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="id" th:value="${cliente.id}" />

            <button type="submit" class="btn btn-primary col-sm-5">Cadastrar</button>

        </form>



    </div>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>