<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <title>Sistema XYZ</title>
</head>

<body class="bg-dark text-white text-center">
    <a class="btn btn-lg btn-primary btn-block" href="/cadastrarclientes">Cadastrar Clientes</a>
    <a class="btn btn-lg btn-primary btn-block" href="/buscarclientes">Buscar Clientes</a>
    <a class="btn btn-lg btn-primary btn-block" href="/ordemdeservico">Cadastrar Ordem de Serviço</a>
    <a class="btn btn-lg btn-primary btn-block" href="/buscaros">Buscar Ordem de Serviço</a>

    <script src="./js/jquery-3.5.1.slim.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>