<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Sistema XYZ</title>
</head>

<body class="bg-dark text-white">
    <div class="container">
        <h1>Sistema XYZ</h1>
        <h2 th:text="${'Nome: ' + cliente.nome}"></h2>
        <h2 th:text="${'Data de Nascimento: ' + cliente.datanasc}"></h2>
        <h2 th:text="${'E-mail: ' + cliente.email}"></h2>
        <h2 th:text="${'Telefone: ' + cliente.telefone}"></h2>
        <h2 th:text="${'Endereço: ' + cliente.endereco}"></h2>
        <h2 th:text="${'Bairro: ' + cliente.bairro}"></h2>
        <h2 th:text="${'Cidade: ' + cliente.cidade}"></h2>
        <h2 th:text="${'Estado: ' + cliente.estado}"></h2>
        <a class="btn btn-primary" href="/buscarclientes">Voltar</a>
    </div>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>