<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <form action="/calcula" method="POST">
        <input type="text" name="num1" id="num1" />
        <select name="operador" id="operador">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="x">x</option>
            <option value="/">/</option>
        </select>
        <input type="text" name="num2" id="num2" />
        <input type="submit" value="Calcular" />
    </form>
    <div th:text="${mensagem}"></div>


    <ul>
        <li th:each="operacao : ${historico}" th:text="${operacao}"></li>
    </ul>
</body>
</html>