<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Drink Store</title>
</head>

<body class="bg-dark">
    <div class="container">
        <h1>Drink Store - Loja de Bebidas</h1>
        <h2 th:text="${bebida.nome}"></h2>
        <h2 th:text="${bebida.descricao}"></h2>
        <h2 th:text="${bebida.fabricante}"></h2>
        <h2 th:text="${bebida.teor}"></h2>
        <h2 th:text="${bebida.preco}"></h2>
        <a href="/">Voltar</a>
    </div>
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>